nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px;
}

body {
   font-family: "Protest Guerrilla", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.ko {
   color: chocolate;
}

nav>ul {
   display: flex;
}

nav li {
   list-style: none;
   padding-right: 50px;
}

nav a {
   text-decoration: none;
}

.btn-primary {
   background-color: orange;
   border: 0cap;
   color: white;
   padding: 15px;
}

.h {
   background-color: mistyrose;
   background-image: url('../images/header_bg.png');
   background-repeat: no-repeat;
   background-position: bottom right;
}

.bann {
   padding: 30px 30px 1px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.bann .profil {
   width: 400px;

}

.ban1 {
   font-size: 45px;
   color: brown;
   margin-bottom: 0;
}

.ban2 {
   font-size: 85px;
   font-weight: 700px;
   margin-top: 5px;
   margin-bottom: 10px;
}

.ban3 {
   margin-top: 3px;
}

.about {
   padding: 130px;
   background-color: #e9b98d9c;
   margin: 130px;
}

.section-title {
   text-align: center;
   font-size: 40px;
   font-weight: 700;
}

.section-discription {
   text-align: center;
   font-size: 14px;
   font-weight: 500;
}
main{
   max-width: 1140px;
   margin: 0 auto;
}
.about-info-container{
   display: flex;
   justify-content: space-between;
}
.about-info{
   text-align: center;
}
#what-i-do-dis{
   padding: 30px 150px;
}
.skill-container{
 display: flex;
     gap: 20px;
}
.skill{
   padding: 30px;
   
  
}
.skill-discription{
   
}